{% extends "document.html" %}

{% block body %}
  <div class="container-fluid limited-container">
    <div class="row justify-content-center gap-5 py-5">
      <section>
        <h1 class="text-center">
          <strong>Welcome, this is <span class="brand">TechNote</span></strong>
        </h1>
      </section>
      <section class="col-md-8 text-center">
        <form action="" method="post">
          <fieldset class="container d-flex flex-column gap-2" id="dirFields">
            <div class="row align-items-center">
              <div class="col">
                <input autocomplete="off" autofocus class="form-control form-control-lg" type="text" name="directories" placeholder="Path to a directory containing .md files">
              </div>
              <div class="col-auto">
                <button class="col-auto btn btn-primary" id="addDirField" type="button">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-folder-plus" viewBox="0 0 16 16">
                    <path d="m.5 3 .04.87a2 2 0 0 0-.342 1.311l.637 7A2 2 0 0 0 2.826 14H9v-1H2.826a1 1 0 0 1-.995-.91l-.637-7A1 1 0 0 1 2.19 4h11.62a1 1 0 0 1 .996 1.09L14.54 8h1.005l.256-2.819A2 2 0 0 0 13.81 3H9.828a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 6.172 1H2.5a2 2 0 0 0-2 2m5.672-1a1 1 0 0 1 .707.293L7.586 3H2.19q-.362.002-.683.12L1.5 2.98a1 1 0 0 1 1-.98z"/>
                    <path d="M13.5 9a.5.5 0 0 1 .5.5V11h1.5a.5.5 0 1 1 0 1H14v1.5a.5.5 0 1 1-1 0V12h-1.5a.5.5 0 0 1 0-1H13V9.5a.5.5 0 0 1 .5-.5"/>
                  </svg>
                </button>
              </div>
            </div>
          </fieldset>
          <button class="btn btn-primary mt-4" type="submit">
            Scan the directories
          </button>
        </form>
      </section>
      <section>
        {% with errors = get_flashed_messages(category_filter=["error"]) %}
          {% for msg in errors %}
            <div class="alert alert-danger" role="alert">
              {{ msg }}
            </div>
          {% endfor %}
        {% endwith %}
        <div class="alert alert-secondary" role="alert">
          <h4 class="alert-heading">
            Please Select Your Directories
          </h4>
          <p>
            If you already have a directory that contains
            Markdown (<code>.md</code>) files, that's the
            directory you should choose.
            Otherwise, just choose an empty directory;
            your new notes will be created there
            as <code>.md</code> files.
          </p>
          <hr>
          <p>
            If you want to know how really TechNote works,
            please view the <code>README.md</code> file.
          </p>
        </div>
      </section>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      // Create a new directory field
      document.getElementById('addDirField').addEventListener('click', () => {
        const fields = document.getElementById('dirFields');
        const firstField = fields.querySelector('input');
        const newField = firstField.cloneNode();
        newField.value = '';
        fields.appendChild(newField);
        newField.focus();
      });
    });
  </script>
{% endblock %}
