:root {
    --bs-body-bg: var(--secondary-bg);
    --bs-tertiary-bg: var(--gray-750);
}

.modal {
    --bs-modal-bg: var(--gray-800);
}

/* offcanvas
 * see https://getbootstrap.com/docs/5.3/components/offcanvas/
 */

.offcanvas {
    background-color: var(--secondary-bg);
    bottom: auto;
    --bs-offcanvas-color: var(--gray-300);
}

.offcanvas-end.x-float-offcanvas {
    border-radius: 0.75rem;
    overflow: hidden;
    max-height: 75vh;
    margin-top: 4.5rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

.offcanvas-header {
    background-color: var(--gray-950);
    color: var(--secondary-color);
}

.offcanvas-header-slim {
    background-color: transparent;
    justify-content: end;
}

.offcanvas-body {
    padding-top: 0.5rem;
}

.offcanvas-backdrop.show {
	opacity: 0;
}

.offcanvas-header h5 {
    margin: 0;
}

/* buttons
 * see https://getbootstrap.com/docs/5.3/components/buttons/
 */

.btn {
    border-radius: 0.5rem;
}

a.btn {
    color: var(--bs-btn-color) !important;
}

.x-action-btn {
    line-height: 1;
    padding: 0.75rem 1rem;
    background-color: var(--primary-bg);
    border: none;
    /* .text-reset */
    --bs-text-opacity: 1;
    color: inherit !important;
}

.x-action-btn:hover,
.x-action-btn:focus {
    background-color: var(--gray-750);
    outline: 0;
}

.x-flat-btn,
.x-flat-btn:hover,
.x-flat-btn:focus {
    background-color: transparent !important;
}

/* form control */

input[type="search"]:focus {
    box-shadow: none;
}

/* modal */

.x-modal-backdrop {
    position: absolute;
    z-index: -1;
}

/* tables
 * see https://getbootstrap.com/docs/5.3/content/tables/
 */

 .x-transparent-table {
    --bs-table-bg: transparent;
 }

/* extra rules */

.max-vh-75 {
    max-height: 75vh;
    overflow: auto;
}

.x-no-default-icon::after {
    display: none !important;
}
