:root {
    --mono-font: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --limited-width: 960px;
    --gray-50: #f9f9f9;
    --gray-100: #ececec;
    --gray-200: #e3e3e3;
    --gray-300: #cdcdcd;
    --gray-400: #b4b4b4;
    --gray-500: #9b9b9b;
    --gray-600: #676767;
    --gray-700: #424242;
    --gray-750: #2f2f2f;
    --gray-800: #212121;
    --gray-900: #171717;
    --gray-950: #0d0d0d;
    --yellow-100: #FFF9C4;
    color-scheme: dark;
}

.dark {
    --primary-bg: var(--gray-800);
    --secondary-bg: var(--gray-900);
    --primary-color: var(--gray-100);
    --secondary-color: var(--gray-300);
    --highlight-bg: var(--yellow-100);
    --highlight-color: var(--gray-800);
    color-scheme: dark;
}

body {
    margin: 0;
    min-height: 100vh;
    min-width: 400px;
    background-color: var(--primary-bg);
    color: var(--primary-color);
}

.limited-container {
    max-width: var(--limited-width);
    margin-left: auto;
    margin-right: auto;
}

/**
 * It is used for the main section to fix the overflow issue
 * causes by <pre> elements with long strings.
 */
.min-width-0 {
    min-width: 0;
}

aside {
    background-color: var(--secondary-bg);
}

a,
a:hover,
a:visited {
    color: inherit;
    text-decoration: none;
}

ol, ul {
    padding: 0;
}

nav ul {
    list-style: none;
}

aside .entries li > a,
aside .entries li > button {
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 0.75rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out;
}

aside .entries li > a,
aside .entries li > a:hover,
aside .entries li > a:visited,
aside .entries li > button,
aside .entries li > button:hover {
    color: #ececec !important;
    text-decoration: none;
}

aside .entries li > a:hover,
aside .entries li > button:hover {
    background-color: var(--gray-750);
}

nav ul .list-title {
    color: var(--gray-500);
}

/* brand */

.brand {
    color: #d63384;
    font-weight: bolder;
    font-size: 1.1em;
}

/* toc */

.toc-container ol,
.toc-container ul {
	padding-left: 2rem;
}

.toc-container nav > ul {
    padding: 0;
}

.toc-container nav > ul > li > a {
    font-weight: bold;
}

/* note controls */

nav.vertical-sticky {
    position: sticky;
    top: 0;
    text-align: right;
    margin: 0 auto;
    height: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: end;
    z-index: 1;
}

nav.vertical-sticky > :first-child {
    margin-top: 1.5rem;
}
